<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.appathon.blooddonateapp">

    <!-- Google Map permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Device Internet/Network Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Device Call Phone/Log Permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="com.app.appathon.blooddonateapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".app.BloodApplication"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

        <receiver
            android:name=".helper.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            tools:node="replace"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.NearbyDonorActivity" />
        <activity
            android:name=".activities.SignUpActivity" />
        <activity
            android:name=".activities.SignInActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.InboxActivity" />
    </application>

</manifest>